.container {
    background: linear-gradient(45deg, #66FFCC, #18D3D6, #66FFCC);
    height: 60px;
    padding: 0 2rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}